main{
    border-color: rgba(0, 100, 0, 1); 
}
main::after {
    background-image: url("../images/brasao_color1-svgomg.svg");
    background-size: 180px;
    background-position: center 52px;
    opacity: 0.5;
}

h1, h2 {
    color: rgba(0, 0, 0, 1.0);
    font-family: sans-serif;
}

h1 {
    background-color: rgba(0, 100, 0, 1.0);
    color: rgba(255, 255, 255, 1.0);
}

h2 {
    background-color: rgba(0, 200, 0, 0.3);
}

fieldset { 
    border-color: rgba(0, 0, 0, 1.0);
    background-color: rgba(239, 255, 222, 0.7);
    border-radius: 5px;
}

legend {
    color: rgba(0, 0, 0, 1.0);
}



