/*
    Classes for box (like div) centralization on screen.
    https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers
*/
.outer-centralizer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle-centralizer {
    display: table-cell;
    vertical-align: middle;
}

.inner-centralizer {
    margin-left: auto;
    margin-right: auto; 
}

/*
    Structure and background 
*/
body{
    background-color: rgba(0,0,0,0.0);
}

main {
    border-width: 1px;  
    border-style: solid;
    border-color: rgba(0, 100, 0, 0);   
    width: 9.9cm;
    height: 6.4cm;
    margin: auto;
    #transform: /* rotate(90deg) */ scale(1.5);
    position: relative;
}

main::after {
    content: "";
    background-image: url("../images/Titulo_Eleitoral.png");
    background-size: 770px;
    background-repeat: no-repeat;
    background-position: -4px 0px;
    opacity: 1.0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

/*
    Headers
*/
h1, h2 {
    text-transform: uppercase; 
    text-align: center;
    color: rgba(255, 255, 255, 0.0);
    box-sizing: border-box;
}

h1 {
    font-family: serif;
    background-color: rgba(0, 100, 0, 0.0);
    height: 0.8cm;
    font-size: 13px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.0);
    margin-bottom: 0px;
}

h2 {
    background-color: rgba(0, 200, 0, 0.0);
    font-family: serif;
    height: 0.5cm;
    font-size: 11px;
    padding: 4px;
}

#brasao-da-republica {
    height: 48px;
    width: 48px;
    position: relative;
    top: -15px;
    left: 7px;
    float: left;
}

/*
    Form and Fields
*/
form {
    background-color: rgba(0, 200, 200, 0.0);
    padding-left: 19px;
    padding-right: 19px;
    margin-top: 21px;
}

.linha-input {
    background-color: rgba(0, 200, 200, 0.0);
    float: left;
    clear: both;
    margin-bottom: 5px;
}

fieldset { 
    box-sizing: border-box;
    display: block;
    border-width: 1px;
    border-style: groove;
    border-color: rgba(0, 0, 0, 0.0);
    border-image: initial;
    background-color: rgba(239, 255, 222, 0.0);
    padding: 3px 3px 2px 3px;
    margin-right: 4px;
    float: left;
}

main > form > div:nth-child(2) > fieldset:nth-child(2), main > form > div:nth-child(2) > fieldset:nth-child(3) {
   margin-right: 3px; 
}

main > form > div:nth-child(1) > fieldset, 
main > form > div:nth-child(2) > fieldset:nth-child(4), 
main > form > div:nth-child(3) > fieldset:nth-child(2),
main > form > div:nth-child(4) > fieldset {
   margin-right: 0px; 
}

main > form > div:nth-child(2) > fieldset, main > form > div:nth-child(3) > fieldset  {
    padding-top: 0px;
}

legend {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 7px;
    color: rgba(0, 0, 0, 0.0);
    margin-left: 5px;
}

input[type="text"], textarea
{
    background: rgba(239, 255, 222, 0.0);
    border: none;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    resize: none;
    padding: 0px;
    margin: 0px;
    color: rgba(0, 0, 0, 1.0);
}

label {
    float:left;
    font-weight:bold;
}

.centralize {
    text-align: center;
}

#nome{
    width: 328px;
    height: 31px;
}

#data-nascimento{
    width: 91px;
}

#numero-inscricao{
    width: 133px;
}

#zona{
    width: 35px;
}

#secao{
    width: 35px;
}

#municipio-uf{
    width: 225px;
}

#data-emissao{
    width: 91px;
}

#juiz-eleitoral{
    width: 328px;
    height: 16px;
}
